
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  name:
  <input type="name"   formControlName="name" required>
<br>
 address:

  <input type="address" formControlName="address" required>
  <br>

  city:
  <input type="city" formControlName="city" required>

  <br>

 state:
 <input type="state" formControlName="state" required>

<br>
 
zip:
<input type="zip" formControlName="zip" required>
<br>

 phone number:
 <input type="phone" formControlName="phone" required>
<br>

 job title
 <input type="jobTitle" formControlName="jobTitle" required>
 <br>


date hired:
<input type="dateHired" formControlName="dateHired" required>

<br>
  <input   type="submit" value="submit" mat-input >

</form>
